{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- ================= BANNER ================= -->
<section class="banner style-1 banner-slider">
    {% for anime in featured_animes %}
    <div class="banner-block overflow-hidden style-{{ forloop.counter }}"
         {% if anime.thumb_img %}
         style="background-image: url('{{ anime.thumb_img.image.url }}'); background-size: cover; background-position: center;"
         {% endif %}>
        <div class="container">
            <div class="banner-content">
                <div class="row">
                    <div class="col-lg-5 col-12">
                        <h2 class="title">{{ anime.title|upper }}</h2>

                        {% if anime.first_season %}
                        <p class="text">SEASON {{ anime.first_season.number }}</p>
                        {% endif %}

                        <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}"
                           class="text-box active">
                            {{ anime.get_age_rating_display }}
                        </a>
                        {% if anime.first_episode %}
                        {% for source in anime.first_episode.sources.all %}
                        <a href="{% url 'streaming' anime.first_episode.id %}" class="text-box">{{ source.type }}</a>
                        {% endfor %}
                        {% endif %}

                        {% if anime.first_season.release_date %}
                        <p class="light-text">{{ anime.first_season.release_date|date:"F d, Y"|upper }}</p>
                        {% endif %}

                        <p>{{ anime.description|truncatewords:30 }}</p>

                        {% if anime.first_episode %}
                        <a class="play-butn"
                           href="{% url 'streaming' anime.first_episode.id %}"><span>PLAY NOW</span></a>
                        {% else %}
                        <a class="play-butn" href="#"><span>COMING SOON</span></a>
                        {% endif %}
                    </div>

                    <div class="col-lg-7 col-12">
                        {% if anime.banner_img %}
                        <img src="{{ anime.banner_img.image.url }}" alt="{{ anime.title }}">
                        {% elif anime.thumb_img %}
                        <img src="{{ anime.thumb_img.image.url }}" alt="{{ anime.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


<!-- ================= RECENTLY UPDATED ================= -->
<section class="recent sec-mar">
    <div class="container">
        <div class="heading style-1">
            <h2>Recently Updated</h2>
        </div>
        <div class="row">
            {% for anime in Recent_animes|slice:":4" %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="anime-blog">
                    <div class="img-block">
                        {% if anime.age_rating == 'r' %}
                        <div class="label-tag">18+</div>
                        {% endif %}

                        {% if anime.poster_img %}
                        <img src="{{ anime.poster_img.image.url }}" alt="{{ anime.title }}">
                        {% elif anime.thumb_img %}
                        <img src="{{ anime.thumb_img.image.url }}" alt="{{ anime.title }}">
                        {% else %}
                        <img src="{% static 'assets/media/anime-sm-img/anime-img-1.png' %}" alt="{{ anime.title }}">
                        {% endif %}

                        <div class="action-overlay">
                            <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}">
                                <i class="fas fa-play-circle"></i> Play Now
                            </a>
                        </div>
                    </div>

                    <div class="detail">
                        <div class="tags">
                            {% if anime.first_episode %}
                            {% for source in anime.first_episode.sources.all %}
                            <a href="{% url 'streaming' anime.first_episode.id %}" class="text-box">
                                {{ source.type }}
                            </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                                <svg width="32" height="22" viewBox="0 0 32 22" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.145264" y="0.00012207" width="21.4395" height="2.68125" rx="1.34062"
                                          fill="#999999"></rect>
                                    <rect x="0.145264" y="7.41272" width="21.4395" height="2.68125" rx="1.34062"
                                          fill="#999999"></rect>
                                    <rect x="0.145264" y="14.8258" width="16.4914" height="2.68125" rx="1.34062"
                                          fill="#999999"></rect>
                                    <path d="M19.8784 16.0712C19.8784 15.4163 20.4093 14.8854 21.0642 14.8854H30.2463C30.9011 14.8854 31.432 15.4163 31.432 16.0712C31.432 16.7261 30.9011 17.257 30.2463 17.257H21.0642C20.4093 17.257 19.8784 16.7261 19.8784 16.0712Z"
                                          fill="#999999"></path>
                                    <path d="M25.6552 22.0001C25.0171 22.0001 24.4999 21.4828 24.4999 20.8447V11.2977C24.4999 10.6596 25.0171 10.1423 25.6552 10.1423C26.2933 10.1423 26.8106 10.6596 26.8106 11.2977V20.8447C26.8106 21.4828 26.2933 22.0001 25.6552 22.0001Z"
                                          fill="#999999"></path>
                                </svg>
                            </button>
                            <ul class="dropdown-menu bg-color-black pt-3 pb-3 ps-3 pe-3">
                                {% if user.is_authenticated %}
                                {% if anime.first_episode %}
                                <li>
                                    <a href="#" class="none watch-later-btn"
                                       data-episode-id="{{ anime.first_episode.id }}">
                                        <i class="fa fa-clock"></i> Watch Later
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="add-to-playlist-btn"
                                       data-episode-id="{{ anime.first_episode.id }}"
                                       data-bs-toggle="modal"
                                       data-bs-target="#playlistModal">
                                        <i class="fas fa-plus"></i> Add to Playlist
                                    </a>
                                </li>
                                {% endif %}
                                {% else %}
                                <li><a href="{% url 'login' %}"><i class="fa fa-clock"></i> Watch Later</a></li>
                                <li><a href="{% url 'login' %}"><i class="fas fa-plus"></i> Add to Playlist</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}">
                        <p>{{ anime.title }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- ================= COMING OUT SECTION ============== -->
{% if coming_soon_season %}
{% with anime=coming_soon_season.anime ep=coming_soon_season.episodes.first %}
<section class="coming-out style-1 sec-mar sec-pad">
    <div class="container">
        <div class="comingOut-content">
            <h2 class="title">{{ anime.title|upper }}</h2>
            <p class="light-text">Season {{ coming_soon_season.number }}</p>

            {% if anime.genres.all %}
            <p class="text">
                {% for genre in anime.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </p>
            {% endif %}

            <a href="{% if ep %}{% url 'streaming' ep.id %}{% else %}#{% endif %}" class="text-box active">
                {{ anime.get_age_rating_display }}
            </a>
            {% if ep %}
            {% for source in ep.sources.all %}
            <a href="{% url 'streaming' ep.id %}" class="text-box">{{ source.type }}</a>
            {% endfor %}
            {% endif %}

            {% if coming_soon_season.release_date %}
            {% now "Y-m-d" as today_str %}
            <div
                    id="coming-out-block"
                    data-release="{{ coming_soon_season.release_date|date:'Y/m/d' }} {{ coming_soon_season.release_time|time:'H:i:s'|default:'00:00:00' }}"
                    data-stream-url="{% if ep %}{% url 'streaming' ep.id %}{% else %}#{% endif %}"
            >
                <p class="copyright-text" id="coming-label">Coming Out in</p>
                <ul class="timer countdown" id="countdown-timer">
                    <li><span id="cd-days">--</span><small>d</small></li>
                    <li><span id="cd-hours">--</span><small>h</small></li>
                    <li><span id="cd-mins">--</span><small>m</small></li>
                    <li><span id="cd-secs">--</span><small>s</small></li>
                </ul>
                <a id="play-now-btn" class="play-butn" style="display:none;">
                    <span>PLAY NOW</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endwith %}
{% endif %}

{% if user.is_authenticated %}

<!-- ===== CONTINUE WATCHING ===== -->
{% if user_history %}
<section class="recent sec-mar">
    <div class="container">
        <div class="heading style-1 d-flex justify-content-between align-items-center">
            <h2>Continue Watching</h2>
            <a href="{% url 'continue_watching' %}" class="comment-btn">View All</a>
        </div>
        <div class="row">
            {% for entry in user_history %}

            {% if entry.episode %}
            {% with anime=entry.episode.season.anime %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="anime-blog">
                    <div class="img-block position-relative">
                        <a href="{% url 'streaming' entry.episode.id %}">
                            {% if anime.poster_img %}
                            <img src="{{ anime.poster_img.image.url }}" alt="{{ anime.title }}">
                            {% elif anime.thumb_img %}
                            <img src="{{ anime.thumb_img.image.url }}" alt="{{ anime.title }}">
                            {% endif %}
                        </a>
                        <!-- Progress bar -->
                        <div style="position:absolute;bottom:0;left:0;right:0;height:4px;background:#444;">
                            <div style="height:100%;background:var(--color-primary,#e74c3c);width:50%;"></div>
                        </div>
                        <div class="action-overlay">
                            <a href="{% url 'streaming' entry.episode.id %}">
                                <i class="fas fa-play-circle"></i> Resume
                            </a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="tags">
                            <p class="text">Ep {{ entry.episode.number }}</p>
                        </div>
                    </div>
                    <a href="{% url 'streaming' entry.episode.id %}">
                        <p>{{ anime.title }}</p>
                    </a>
                    <p class="light-text" style="font-size:0.75rem;padding:0 10px;">
                        {{ entry.updated_at|timesince }} ago
                    </p>
                </div>
            </div>
            {% endwith %}

            {% elif entry.movie %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="anime-blog">
                    <div class="img-block position-relative">
                        <a href="{% url 'streaming_movie' entry.movie.id %}">
                            {% if entry.movie.poster_img %}
                            <img src="{{ entry.movie.poster_img.image.url }}" alt="{{ entry.movie.title }}">
                            {% elif entry.movie.thumb_img %}
                            <img src="{{ entry.movie.thumb_img.image.url }}" alt="{{ entry.movie.title }}">
                            {% endif %}
                        </a>
                        <div style="position:absolute;bottom:0;left:0;right:0;height:4px;background:#444;">
                            <div style="height:100%;background:var(--color-primary,#e74c3c);width:50%;"></div>
                        </div>
                        <div class="action-overlay">
                            <a href="{% url 'streaming_movie' entry.movie.id %}">
                                <i class="fas fa-play-circle"></i> Resume
                            </a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="tags"><p class="text">Movie</p></div>
                    </div>
                    <a href="{% url 'streaming_movie' entry.movie.id %}">
                        <p>{{ entry.movie.title }}</p>
                    </a>
                    <p class="light-text" style="font-size:0.75rem;padding:0 10px;">
                        {{ entry.updated_at|timesince }} ago
                    </p>
                </div>
            </div>
            {% endif %}

            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!-- ===== WATCH LATER ===== -->
{% if user_watch_later %}
<section class="recent sec-mar">
    <div class="container">
        <div class="heading style-1 d-flex justify-content-between align-items-center">
            <h2>Watch Later</h2>
            <a href="{% url 'watch_later' %}" class="comment-btn">View All</a>
        </div>
        <div class="row">
            {% for item in user_watch_later %}

            {% if item.episode %}
            {% with anime=item.episode.season.anime %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="anime-blog">
                    <div class="img-block">
                        <a href="{% url 'streaming' item.episode.id %}">
                            {% if anime.poster_img %}
                            <img src="{{ anime.poster_img.image.url }}" alt="{{ anime.title }}">
                            {% elif anime.thumb_img %}
                            <img src="{{ anime.thumb_img.image.url }}" alt="{{ anime.title }}">
                            {% endif %}
                        </a>
                        <div class="action-overlay">
                            <a href="{% url 'streaming' item.episode.id %}">
                                <i class="fas fa-play-circle"></i> Play Now
                            </a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="tags">
                            <p class="text">Ep {{ item.episode.number }}</p>
                        </div>
                        <!-- Remove from watch later -->
                        <form method="POST" action="{% url 'toggle_watch_later' %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="episode_id" value="{{ item.episode.id }}">
                            <button type="submit" class="dropdown-toggle border-0 bg-transparent"
                                    title="Remove from Watch Later">
                                <i class="fas fa-times" style="color:#999;"></i>
                            </button>
                        </form>
                    </div>
                    <a href="{% url 'streaming' item.episode.id %}">
                        <p>{{ anime.title }}</p>
                    </a>
                </div>
            </div>
            {% endwith %}

            {% elif item.movie %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="anime-blog">
                    <div class="img-block">
                        <a href="{% url 'streaming_movie' item.movie.id %}">
                            {% if item.movie.poster_img %}
                            <img src="{{ item.movie.poster_img.image.url }}" alt="{{ item.movie.title }}">
                            {% elif item.movie.thumb_img %}
                            <img src="{{ item.movie.thumb_img.image.url }}" alt="{{ item.movie.title }}">
                            {% endif %}
                        </a>
                        <div class="action-overlay">
                            <a href="{% url 'streaming_movie' item.movie.id %}">
                                <i class="fas fa-play-circle"></i> Play Now
                            </a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="tags"><p class="text">Movie</p></div>
                        <form method="POST" action="{% url 'toggle_watch_later' %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="movie_id" value="{{ item.movie.id }}">
                            <button type="submit" class="dropdown-toggle border-0 bg-transparent"
                                    title="Remove from Watch Later">
                                <i class="fas fa-times" style="color:#999;"></i>
                            </button>
                        </form>
                    </div>
                    <a href="{% url 'streaming_movie' item.movie.id %}">
                        <p>{{ item.movie.title }}</p>
                    </a>
                </div>
            </div>
            {% endif %}

            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% endif %}{# end user.is_authenticated #}

<!-- ================= POPULAR SECTION ================= -->

<section class="popular sec-mar">
    <div class="container">
        <div class="heading style-1">
            <h2>Popular Animes</h2>
        </div>
        <div class="row">
            {% for anime in Popular_animes|slice:":4"%}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="anime-blog">
                    <div class="img-block">
                        {% if anime.age_rating == 'r' %}
                        <div class="label-tag">18+</div>
                        {% endif %}

                        {% if anime.poster_img %}
                        <img src="{{ anime.poster_img.image.url }}" alt="{{ anime.title }}">
                        {% elif anime.thumb_img %}
                        <img src="{{ anime.thumb_img.image.url }}" alt="{{ anime.title }}">
                        {% else %}
                        <img src="{% static 'assets/media/anime-sm-img/anime-img-1.png' %}" alt="{{ anime.title }}">
                        {% endif %}

                        <div class="action-overlay">
                            <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}">
                                <i class="fas fa-play-circle"></i> Play Now
                            </a>
                        </div>
                    </div>

                    <div class="detail">
                        <div class="tags">
                            {% if anime.first_episode %}
                            {% for source in anime.first_episode.sources.all %}
                            <a href="{% url 'streaming' anime.first_episode.id %}" class="text-box">
                                {{ source.type }}
                            </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                                <svg width="32" height="22" viewBox="0 0 32 22" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.145264" y="0.00012207" width="21.4395" height="2.68125" rx="1.34062"
                                          fill="#999999"></rect>
                                    <rect x="0.145264" y="7.41272" width="21.4395" height="2.68125" rx="1.34062"
                                          fill="#999999"></rect>
                                    <rect x="0.145264" y="14.8258" width="16.4914" height="2.68125" rx="1.34062"
                                          fill="#999999"></rect>
                                    <path d="M19.8784 16.0712C19.8784 15.4163 20.4093 14.8854 21.0642 14.8854H30.2463C30.9011 14.8854 31.432 15.4163 31.432 16.0712C31.432 16.7261 30.9011 17.257 30.2463 17.257H21.0642C20.4093 17.257 19.8784 16.7261 19.8784 16.0712Z"
                                          fill="#999999"></path>
                                    <path d="M25.6552 22.0001C25.0171 22.0001 24.4999 21.4828 24.4999 20.8447V11.2977C24.4999 10.6596 25.0171 10.1423 25.6552 10.1423C26.2933 10.1423 26.8106 10.6596 26.8106 11.2977V20.8447C26.8106 21.4828 26.2933 22.0001 25.6552 22.0001Z"
                                          fill="#999999"></path>
                                </svg>
                            </button>
                            <ul class="dropdown-menu bg-color-black pt-3 pb-3 ps-3 pe-3">
                                {% if user.is_authenticated %}
                                {% if anime.first_episode %}
                                <li>
                                    <a href="#" class="none watch-later-btn"
                                       data-episode-id="{{ anime.first_episode.id }}">
                                        <i class="fa fa-clock"></i> Watch Later
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="add-to-playlist-btn"
                                       data-episode-id="{{ anime.first_episode.id }}"
                                       data-bs-toggle="modal"
                                       data-bs-target="#playlistModal">
                                        <i class="fas fa-plus"></i> Add to Playlist
                                    </a>
                                </li>
                                {% endif %}
                                {% else %}
                                <li><a href="{% url 'login' %}"><i class="fa fa-clock"></i> Watch Later</a></li>
                                <li><a href="{% url 'login' %}"><i class="fas fa-plus"></i> Add to Playlist</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}">
                        <p>{{ anime.title }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- ================= WEEKLY SCHEDULE ================= -->
<section class="schedule style-1 sec-mar">
    <div class="container">
        <div class="heading style-1">
            <h2>weekly schedule</h2>
        </div>
        <div class="schedule-box">
            <div class="card">
                <div class="card-header">
                    <ul class="date-slider nav nav-tabs card-header-tabs slick-initialized slick-slider"
                        data-bs-tabs="tabs" role="tablist">
                        <button class="slick-prev slick-arrow" aria-label="Previous" type="button">Previous</button>
                        <div class="slick-list draggable">
                            <div class="slick-track">
                                {% for day in week_days %}
                                <li class="nav-item slick-slide{% if day.is_today %} slick-current slick-active{% endif %}">
                                    <a class="nav-link text-center{% if day.is_today %} active{% endif %}"
                                       data-bs-toggle="tab"
                                       href="#{{ day.id }}">
                                        <p>{{ day.date }}</p>
                                        <h2>{{ day.day|slice:":3" }}</h2>
                                    </a>
                                </li>
                                {% endfor %}
                            </div>
                        </div>
                        <button class="slick-next slick-arrow" aria-label="Next" type="button">Next</button>
                    </ul>
                </div>

                <div class="card-body style-1 tab-content">
                    <div class="row justify-content-between mb-3">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-0">
                            <h4>Anime Details</h4>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-0 col-0 text-end">
                            <h4>Episode</h4>
                        </div>
                    </div>

                    {% for day in week_days %}
                    <div class="tab-pane fade{% if day.is_today %} show active{% endif %}"
                         id="{{ day.id }}" role="tabpanel">
                        {% for anime in day.animes %}
                        <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}">
                            <div class="row align-items-center">
                                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-0">
                                    {% if anime.first_season.release_time %}
                                    <p class="text">{{ anime.first_season.release_time|time:"H:i" }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-10 col-12">
                                    <div class="row align-items-center">
                                        <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-3 ps-0 pe-0 text-end">
                                            {% if anime.logo_img %}
                                            <img src="{{ anime.logo_img.image.url }}" alt="{{ anime.title }}">
                                            {% endif %}
                                        </div>
                                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-7 col-9">
                                            <div class="schedule-content align-middle">
                                                <p class="small-title">{{ anime.title }}</p>
                                                {% if anime.first_episode %}
                                                {% for source in anime.first_episode.sources.all %}
                                                <p class="text-box">{{ source.type }}</p>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-2 col-md-3 col-sm-3 col-0">
                                            {% if anime.first_season %}
                                            <p class="text text-end">{{ anime.first_season.get_status_display }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-0 col-0 text-end">
                                    {% if anime.first_episode %}
                                    <p class="text">Episode {{ anime.first_episode.number|stringformat:"02d" }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% if not forloop.last %}
                        <hr>
                        {% endif %}

                        {% empty %}
                        <p class="text text-center py-3">No anime scheduled for {{ day.day }}.</p>
                        {% endfor %}
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ================= TOP RATED / NEW / COMPLETED ================= -->
<section class="top sec-mar">
    <div class="container">
        <div class="row">

            <!-- TOP RATED -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 offset-xl-0 offset-lg-0 offset-md-0 offset-sm-2 col-12">
                <h3>Top Rated Anime</h3>
                {% for anime in top_animes %}
                <div class="anime-box bg-color-black">
                    <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}">
                        <div class="row m-0 align-items-center">

                            <div class="p-0 col-2 text-center">
        <span class="light-text
            {% if forloop.counter == 1 %}color-primary
            {% elif forloop.counter == 2 %}color-purple
            {% elif forloop.counter == 3 %}color-grey
            {% endif %}">
            {{ forloop.counter }}
        </span>
                            </div>

                            <div class="p-0 col-2">
                                {% if anime.logo_img %}
                                <img src="{{ anime.logo_img.image.url }}"
                                     alt="{{ anime.title }}"
                                     class="img-fluid">
                                {% endif %}
                            </div>

                            <div class="p-0 col-8">
                                <div class="anime-blog d-flex align-items-center gap-2">
                                    <p class="mb-0">{{ anime.title }}</p>

                                    {% if anime.age_rating == 'r' %}
                                    <span class="text-box active">18+</span>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!-- NEW -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 offset-xl-0 offset-lg-0 offset-md-0 offset-sm-2 col-12">
                <h3>New</h3>
                {% for anime in new_animes %}
                <div class="anime-box bg-color-black">
                    <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}">
                        <div class="row m-0">
                            <div class="p-0 col-2">
                                {% if anime.logo_img %}
                                <img src="{{ anime.logo_img.image.url }}" alt="{{ anime.title }}">
                                {% endif %}
                            </div>
                            <div class="p-0 col-9">
                                <div class="anime-blog">
                                    <p>{{ anime.title }}</p>
                                    {% if anime.age_rating == 'r' %}
                                    <p class="text-box active">18+</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!-- RECENTLY COMPLETED -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 offset-xl-0 offset-lg-3 offset-md-3 offset-sm-2 col-12">
                <h3>Recently Completed</h3>
                {% for anime in completed_animes %}
                <div class="anime-box bg-color-black{% if forloop.last %} mb-0{% endif %}">
                    <a href="{% if anime.first_episode %}{% url 'streaming' anime.first_episode.id %}{% else %}#{% endif %}">
                        <div class="row m-0">
                            <div class="p-0 col-2">
                                {% if anime.logo_img %}
                                <img src="{{ anime.logo_img.image.url }}" alt="{{ anime.title }}">
                                {% endif %}
                            </div>
                            <div class="p-0 col-9">
                                <div class="anime-blog">
                                    <p>{{ anime.title }}</p>
                                    {% if anime.age_rating == 'r' %}
                                    <p class="text-box active">18+</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

{% if user.is_authenticated %}
<div class="modal fade" id="playlistModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-color-black">
            <div class="modal-header border-0">
                <h5 class="modal-title">Add to Playlist</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="playlist-list"><p>Loading...</p></div>
            <div class="modal-footer border-0">
                <a href="{% url 'playlists' %}" class="comment-btn">Manage Playlists</a>
            </div>
        </div>
    </div>
</div>

<script>
    function getCSRF() {
        return document.cookie.split('; ').find(r => r.startsWith('csrftoken'))?.split('=')[1];
    }

    document.querySelectorAll('.watch-later-btn').forEach(btn => {
        btn.addEventListener('click', function (e) {
            e.preventDefault();
            const body = new URLSearchParams();
            if (this.dataset.episodeId) body.append('episode_id', this.dataset.episodeId);
            if (this.dataset.movieId) body.append('movie_id', this.dataset.movieId);
            fetch('/watch-later/toggle/', {
                method: 'POST',
                headers: {'X-CSRFToken': getCSRF()},
                body: body
            })
                .then(r => r.json())
                .then(data => {
                    this.innerHTML = data.status === 'added'
                        ? '<i class="fa fa-clock"></i> Added'
                        : '<i class="fa fa-clock"></i> Watch Later';
                });
        });
    });

    document.getElementById('playlistModal')?.addEventListener('show.bs.modal', function (e) {
        const trigger = e.relatedTarget;
        const episodeId = trigger?.dataset.episodeId || '';
        const movieId = trigger?.dataset.movieId || '';

        fetch('/playlists/json/')
            .then(r => r.json())
            .then(data => {
                const container = document.getElementById('playlist-list');
                if (!data.playlists.length) {
                    container.innerHTML = '<p>No playlists. <a href="/playlists/">Create one</a>.</p>';
                    return;
                }
                container.innerHTML = data.playlists.map(p => `
                <form method="POST" action="/playlists/add-item/" style="margin-bottom:8px;">
                    <input type="hidden" name="csrfmiddlewaretoken" value="${getCSRF()}">
                    <input type="hidden" name="playlist_id" value="${p.id}">
                    ${episodeId ? `<input type="hidden" name="episode_id" value="${episodeId}">` : ''}
                    ${movieId ? `<input type="hidden" name="movie_id"   value="${movieId}">` : ''}
                    <div class="d-flex justify-content-between align-items-center">
                        <span>${p.name}</span>
                        <button type="submit" class="comment-btn active">Add</button>
                    </div>
                </form>
            `).join('');
            });
    });
</script>
{% endif %}
{% endblock body %}