{% extends 'base.html' %}
{% block body %}

    <section class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="{% url 'index' %}">Anime</a></li>
                    <li><a class="active">Set New Password</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="profile sec-mar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="reset-password">
                        <h5 class="mb-4">Create New Password</h5>

                        {% if validlink %}
                            <form method="POST">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                    <div class="text-danger mb-3">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <label>New Password</label>
                                    {{ form.new_password1 }}
                                    <div class="text-danger">
                                        {{ form.new_password1.errors }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    {{ form.new_password2 }}
                                    <div class="text-danger">
                                        {{ form.new_password2.errors }}
                                    </div>
                                </div>

                                <button type="submit" class="anime-btn btn-dark border-change">
                                    Set Password
                                </button>
                            </form>

                        {% else %}
                            <p class="text-danger">
                                This password reset link is invalid or has expired.
                            </p>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
