{% extends 'base.html' %}
{% block body %}

<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'index' %}">Anime</a></li>
                <li><a class="active">Email Sent</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="profile sec-mar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="reset-password text-center">
                    <h5 class="mb-4">Check Your Email</h5>
                    <p>
                        If an account exists with the email you entered,
                        a password reset link has been sent.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
