{% load static %}
<!-- Add to Playlist Modal -->
<div class="modal fade" id="playlistModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-color-black">
            <div class="modal-header border-0">
                <h5 class="modal-title">Add to Playlist</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {# TODO: list existing playlists to add the current movie/episode to,
                   using the data-movie-id / data-episode-id attrs set on the
                   trigger button in streaming.html / streaming_movie.html #}
                <form method="POST" action="{% url 'create_playlist' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="name" class="form-control"
                               placeholder="Playlist name" required maxlength="100" autofocus>
                    </div>
                    <button type="submit" class="anime-btn2 dark mt-3">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>