{% extends 'base.html' %}
{% load static %}

{% block body %}

<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="home.html">Anime</a></li>
                <li><a class="active">Reset Password</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="profile sec-mar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="reset-password">
                    <h5 class="mb-4">Change Password</h5>
                    <form method="POST" class="form-validator">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Email</label>
                            {{ form.email }}
                        </div>

                        <button type="submit" class="anime-btn btn-dark border-change">
                            Send Reset Link
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}